.bg-container {
  background-color: #f5d0fe;
  height: 100vh;
  background-size: cover;
}
.card-container {
  background-color: white;
  padding: 30px;
}
.heading {
  color: black;
  text-align: center;
  font-size: 25px;
}
.button {
  background-color: #d946ef;
  border-width: 0px;
}
